'context-menu':
  'atom-text-editor': [{
    label: 'Beautify CSS'
    command: 'cssbeautify:execute'
  }]

'menu': [{
  'label': 'Packages'
  'submenu': [
    'label': 'CSSBeautify'
    'submenu': [{
      label: 'Beautify CSS',
      command: 'cssbeautify:execute'
    }]
  ]
}]
